.user_details
  .row
    .span1

    .span1
      = "#{@user.first_name} #{@user.last_name}"
    .span2
      = "#{User.human_attribute_name("phone_number")}: #{@user.phone_number}"
    .span2
      = "#{User.human_attribute_name("email")}: #{@user.email}"
    .offset6
