!= stylesheet_link_tag "volunteers"

.box
  .header= t("users.new.title")
  %form.form-horizontal{:action => sessions_path}
    != volunteer_field("first_name")
    != volunteer_field("last_name")
    != volunteer_field("birth_date")
    != volunteer_field("password", "password")
    != volunteer_field("password_confirmation", "password_confirmation")
    != volunteer_field("description", "text")
    != volunteer_select_field("area", @areas)
    != volunteer_field("email")
    != volunteer_field("phone")
    != volunteer_field("gender")
    %button.btn{:type => "submit"}= t("users.new.action")



