.volunteer_profile
  .row
    .span12
      .box
        .header.light
          = t("users.profile.title")
        .content
          != render partial: "layouts/components/volunteer/simple_profile", :locals => {:user => @user}

  -if @active_requests.count > 0
    .row
      .span12
        .box
          .header
            = t("users.profile.my_active_requests")
          .content
            != render partial: "layouts/components/request/request_row", :collection => @active_requests, :as => :req, :locals => {:type => 'user'}

  -if @closed_requests.count > 0
    .row
      .span12
        .box
          .header
            = t("users.profile.my_closed_requests")
          .content
            != render partial: "layouts/components/request/request_row", :collection => @closed_requests, :as => :req, :locals => {:type => 'user'}
