- content_for :stylesheets do
  != stylesheet_link_tag "volunteers/show"

.volunteer_profile
  .row
    .span12
      .box
        .header.light
          = t("users.profile.title")
        .content
          != render partial: "volunteers/simple_profile"

  .row
    .span12
      .box
        .header
          = t("users.profile.my_active_requests")
        .content
          - if @active_responses.count > 0
            != render partial: "volunteers/response_row", :collection => @active_responses, :as => :response
          - else
            .empty_group{:style => "margin-top: 10px;"}
              = t("requests.pages.index.list.no_requests")