- content_for :stylesheets do
  != stylesheet_link_tag "sessions/new"

.login-page
  .box
    %h2= t("sessions.pages.new.title.#{@type}")
    %hr
    = form_tag sessions_path, :class => "form-horizontal" do
      = form_text_field(User.human_attribute_name("email"), "user[email]")
      = form_password_field(User.human_attribute_name("password"), "user[password]")
      = hidden_field_tag 'user[type]', @type
      != submit_tag t("sessions.pages.new.actions.sign_in"), :class => "btn btn-orange btn-big"
    %hr
    %h3
      %strong= t("sessions.pages.new.actions.register.#{@type}.note")
      %a{:href => sign_up_url(@type)}= t("sessions.pages.new.actions.register.#{@type}.link")
