.login-page
  .box
    %h2= t("login_page.title.#{@type}")
    %hr
    = form_tag sessions_path, :class => "form-horizontal" do
      = form_text_field(User.human_attribute_name("email"), "user[email]")
      = form_password_field(User.human_attribute_name("password"), "user[password]")
      != submit_tag t("header.enter"), :class => "btn btn-orange btn-big"
    %hr
    %h3
      %strong= t("login_page.new.#{@type}")
      %a{:href => "#{@type}/new"}= t("login_page.new_link.#{@type}")
