.request_row
  .name
    = req.name
  .description
    = req.description
  .additional_data
    %span
      = "#{""} #{""} #{""}"
    .icon.location
    %span
      = req.school.try(:name)
    .icon.duration
    %span
      = "#{""} #{""} #{""}"
    .icon.schedule
    %span
      = "#{""} #{""} #{""}"
  .actions
    - if type == 'school'
      != render partial: "layouts/components/request/request_school_data", :locals => {:request => req}
    - elsif type == 'user'
      != render partial: "layouts/components/request/request_user_data", :locals => {:request => req}
    - else
      != render partial: "layouts/components/request/request_main_data", :locals => {:request => req}
