.request_row.row
  .span7
    .name
      = req.name
    .description
      = req.description
    .additional_data
      .icon.location
      %span
        = req.school.try(:name)
      .icon.duration
      %span
        = "#{Request.human_attribute_name("duration")}: #{req.duration} #{Request.human_attribute_name("duration_units")}"
      .icon.schedule
      %span
        = req.recurrence.name
  .span4
    .actions
      - if type == 'school'
        != render partial: "layouts/components/request/request_school_data", :locals => {:req => req}
      - elsif type == 'user'
        != render partial: "layouts/components/request/request_user_data", :locals => {:req => req}
      - else
        != render partial: "layouts/components/request/request_main_data", :locals => {:req => req}
