.span7.request_details
  .name= req.name
  .description{:title => req.description}= req.description
  .additional_data
    .icon.location
    %span= req.school.try(:name)
    .icon.duration
    %span= "#{Request.human_attribute_name("duration")}: #{req.duration} #{Request.human_attribute_name("duration_units")}"
    .icon.schedule
    %span= req.recurrence.name
    %span= l(req.created_at.in_time_zone('Israel'), format: :long)