.response_row.row
  != render "components/request/request_details", req: response.request

  .actions
    .info
      %strong= response.request.category.name
    .action
      %a.btn{href: "#response_modal_#{response.id}", data: {toggle: "modal"}}= t("components.response_row.actions.watch")

  != render "modals/volunteer/response_modal", response: response, id: "response_modal_#{response.id}"