.response_row.row
  != render "components/request/request_details", req: response.request
  .span4
    .actions
      .info
        %strong= response.request.category.name
      .action
        %a.btn{href: "#school_response_modal_#{response.id}", data: {toggle: "modal"}}= t("components.response_row.actions.watch")

  != render "modals/volunteer/school_response_modal", response: response, id: "school_response_modal_#{response.id}"