.volunteer_profile
  .row.profile_details
    .span12
      .box
        .header.light
          = t("users.profile.title")
        .content
          != render "users/simple_profile"

  .row.closed_requests
    .span12
      .box
        .header
          = t("users.profile.my_closed_requests")
        .content
          - if @completed_responses.count > 0
            != render partial: "users/school_response_row", :collection => @completed_responses, :as => :response
          - else
            .empty_group{:style => "margin-top: 10px;"}
              = t("requests.pages.index.list.no_requests")

  .row.open_requests
    .span12
      .box
        .header
          = t("users.profile.my_active_requests")
        .content
          - if @active_responses.count > 0
            != render partial: "users/response_row", :collection => @active_responses, :as => :response
          - else
            .empty_group{:style => "margin-top: 10px;"}
              = t("requests.pages.index.list.no_requests")