!= form_tag(request_responses_path(@request)) do
  %h1= @request.name
  %hr
  %dl.dl-horizontal
    %dt= Request.human_attribute_name("description")
    %dd= @request.description

    %dt= Request.human_attribute_name("requesting_school")
    %dd= @request.school.name

    %dt= Request.human_attribute_name("duration")
    %dd= "#{@request.duration} #{Request.human_attribute_name("duration_units")}"

    %dt= Request.human_attribute_name("start_date")
    %dd= l(@request.created_at.in_time_zone("Israel"), :format => :long)

    %dt= Response.human_attribute_name("note")
    %dd
      != text_area_tag :note,"", placeholder: "#{t("modals.volunteer.request.fields.placeholders.note")}"

  %dd
    %button.btn.btn-primary.btn-orange{type:"submit"}= t("modals.volunteer.request.actions.submit")
