%h3= t('requests.examples_pane.title')
- t('requests.examples_pane.examples').each do |example|
  %hr
  %section
    .title= example['title']
    .description= example['description']
    .type= example['type']
    .time= example['time']