.filter
  = form_tag(requests_path, class: 'form-inline', method: :get, id: :request_filter) do
    = select_tag "category", category_options(params[:category]), prompt: t('requests.pages.index.filter.category'), class: 'custom-span'
    = select_tag "recurrence", recurrence_options(params[:recurrence]), prompt: t('requests.pages.index.filter.recurrence'), class: 'custom-span'
    = select_tag "area", area_options(params[:area]), prompt: t('requests.pages.index.filter.area'), class: 'custom-span'
    = select_tag 'school', school_options(params[:school]), prompt: t('requests.pages.index.filter.school'), class: 'span3'
    = submit_tag t("requests.pages.index.filter.action"), :class => 'btn btn-primary btn-orange pull-right'

%script{type: 'text/javascript'}
  window.filterCtrl = #{raw Area.areas_with_schools.to_json};



