= form_tag(requests_path, :class => "form-horizontal") do
  - if @request.errors.any?
    #error_explanation
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg
  = form_text_field(Request.human_attribute_name("name"), "request[name]", @request.name)
  = form_textarea_field(Request.human_attribute_name("description"), "request[description]", @request.description)
  = form_field_wrapper(Request.human_attribute_name("category"), "request[category_id]") do
    = select_tag("request[category_id]", category_options(@request.category_id))
  = form_text_field(Request.human_attribute_name("duration"), "request[duration]", @request.duration || 2, class: 'duration') do
    %span.help-inline= Request.human_attribute_name("duration_units")
  = form_field_wrapper(Request.human_attribute_name("recurrence"), "request[recurrence]") do
    - Request::RECURRENCES.each do |r|
      = label_tag("request_recurrence_#{r}", nil, class: 'radio inline') do
        = radio_button_tag('request[recurrence]', r, @request.recurrence == r, class: 'recurrence-select')
        = t "recurrences.#{r}"
  = form_field_wrapper('', '') do
    %span.time-description
    = link_to t('requests.pages.new.choose_time'), '', data: {toggle: :modal}, class: 'choose-time'

  = form_submit_button(t("requests.pages.new.action"), :class => "btn btn-orange")

  != render 'modals/school/one_time_modal'
  != render 'modals/school/weekly_modal'
