= form_tag(requests_path, :class => "form-horizontal") do
  - if @request.errors.any?
    #error_explanation
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg
  = form_text_field(Request.human_attribute_name("name"), "request[name]", @request.name)
  = form_textarea_field(Request.human_attribute_name("description"), "request[description]", @request.description)
  = form_field_wrapper(Request.human_attribute_name("category"), "request[category_id]") do
    = select_tag("request[category_id]", category_options(@request.category_id))
  = form_field_wrapper(Request.human_attribute_name("recurrence"), "request[recurrence_id]") do
    = select_tag("request[recurrence_id]", recurrence_options(@request.recurrence_id))
  = form_text_field(Request.human_attribute_name("duration"), "request[duration]", @request.duration || 2) do
    %span.help-inline= Request.human_attribute_name("duration_units")

  = form_submit_button(t("requests.new.action"), :class => "btn btn-orange")