.row.new_request
  .span8.box
    %h1= t("requests.edit.header")
    %hr
    != render "form"
  .span4.box.examples
    %h3= t("requests.examples.title")
    %hr
    %section
      .title= t("requests.examples.sections.title")
      .description= t("requests.examples.sections.description")
      .type= t("requests.examples.sections.type")
      .time= t("requests.examples.sections.time")
    %hr
    %section
      .title= t("requests.examples.sections.title")
      .description= t("requests.examples.sections.description")
      .type= t("requests.examples.sections.type")
      .time= t("requests.examples.sections.time")
    %hr
    %section
      .title= t("requests.examples.sections.title")
      .description= t("requests.examples.sections.description")
      .type= t("requests.examples.sections.type")
      .time= t("requests.examples.sections.time")

