.row.homepage-top
  .box.span8
    .row
      .span4.welcome
        %h1= t("requests.index.title")
        %p= t("requests.index.paragraph")
      .span4.steps
        %ol
          - t("requests.index.steps").each do |step|
            %li
              %span.step= step
  .box.span4
    - if user_signed_in?
      != render :partial => "requests/logged_in"
    - else
      != render :partial => "requests/sign_up"

.row
  .span12
    .box
      .header.no-margin
        = t("requests.index.requests.title")
      .content
        -if @active_requests.count > 0
          != render partial: "layouts/components/request/request_row", :collection => @active_requests, :as => :req, :locals => {:type => 'main'}
        -else
          .empty_group{:style => "margin-top: 10px;"}
            = t("requests.no_requests")

