.row
  .span5
    %h1= t("requests.new.header")
    != render "form"
  .span4
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
