.row
  .span8.box
    %h1= t("requests.new.header")
    %hr
    != render "form"
  .span3.box
    %h3= t("requests.new.examples.title")
    %hr
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
    %hr
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
    %hr
    %section
      .title= t("requests.new.examples.sections.title")
      .description= t("requests.new.examples.sections.description")
      .type= t("requests.new.examples.sections.type")
      .time= t("requests.new.examples.sections.time")
