= form_tag(schools_path, method: :post, class: "form-horizontal") do
  = form_text_field School.human_attribute_name("name"), "school[name]", @school.name
  = form_field_wrapper School.human_attribute_name("area"), "school[area_id]" do
    = select_tag "school[area_id]", areas_options(@school.area_id)
  = form_text_field School.human_attribute_name("address"), "school[address]", @school.address
  = form_textarea_field School.human_attribute_name("description"), "school[description]", @school.description

  %h2= t("schools.pages.new.admin.title")
  %hr
  = render "users/form_fields", user: @admin_user
  = form_submit_button t("schools.pages.new.actions.create"), class: "btn btn-orange"