= form_tag(schools_path, method: :post, class: "form-horizontal") do

  = form_text_field School.human_attribute_name("name"), "school[name]", @school.name

  = form_field_wrapper School.human_attribute_name("area"), "school[area_id]" do
    = select_tag "school[area_id]", areas_options(@school.area_id)

  = form_text_field School.human_attribute_name("address"), "school[address]", @school.address
  = form_textarea_field School.human_attribute_name("description"), "school[description]", @school.description

  %h2= t("schools.pages.new.admin.title")
  %hr

  = form_text_field User.human_attribute_name("first_name"), "admin[first_name]", @admin_user.first_name
  = form_text_field User.human_attribute_name("last_name"), "admin[last_name]", @admin_user.last_name
  = form_text_field User.human_attribute_name("email"), "admin[email]", @admin_user.email
  = form_text_field User.human_attribute_name("phone_number"), "admin[phone_number]", @admin_user.phone_number

  = form_password_field User.human_attribute_name("password"), "admin[password]" do
    %span.help-inline= User.human_attribute_name("password_limit")

  = form_password_field User.human_attribute_name("password_confirmation"), "admin[password_confirmation]"

  = form_submit_button t("schools.pages.new.actions.create"), class: "btn btn-orange"