.requests_index
  .row.header
    .span8
      %h1= t("schools.pages.show.title")
    .span4
      %a.new_request.btn.btn-orange{ :href => new_request_path }= t("schools.pages.show.actions.create_request")

  .row
    .span12
      %ul.nav.nav-tabs
        %li{ class: (@closed_requests ? "" : "active") }
          %a{ :href => school_path(current_school, :requests => "open") }= t("schools.pages.show.tabs.open_requests")
        %li{ class: (@closed_requests ? "active" : "") }
          %a{ :href => school_path(current_school, :requests => "closed") }= t("schools.pages.show.tabs.closed_requests")
  .row
    .list.box.span12.tab-content
      - if @requests.empty?
        .empty
          %span= t("schools.pages.show.list.no_requests")
          %a.btn.btn-orange{ :href => new_request_path }= t("schools.pages.show.actions.create_request")
      - else
        - @requests.each do |req|
          != render partial: "components/request/request_row", locals: { req: req, type: "school" }
          != render partial: "modals/school/request_modal", locals: {vrequest: req, id: "school_request_modal#{req.id}"}
