- content_for :stylesheets do
  != stylesheet_link_tag "schools/show"
- content_for :javascripts do
  != javascript_include_tag "schools"

.manage_requests
  .row.header
    .span8
      %h1= t("schools.pages.show.title")
    .span4
      %a.new_request.btn.btn-orange{ :href => new_request_path }= t("schools.pages.show.actions.create_request")

  .row
    .span12
      %ul.nav.nav-tabs
        %li{ class: (@closed_requests ? "" : "active") }
          %a{ :href => school_path(current_school, :requests => "open") }= t("schools.pages.show.tabs.open_requests")
        %li{ class: (@closed_requests ? "active" : "") }
          %a{ :href => school_path(current_school, :requests => "closed") }= t("schools.pages.show.tabs.closed_requests")
  .row
    .list.box.span12.tab-content
      - if @requests.empty?
        .empty
          - if @closed_requests
            %span= t("schools.pages.show.list.no_closed_requests")
          - else
            %span= t("schools.pages.show.list.no_open_requests")
            %a.btn.btn-orange{ :href => new_request_path }= t("schools.pages.show.actions.create_request")
      - else
        - @requests.each do |req|
          != render "components/request/request_row", req: req, type: "school"
          != render "modals/school/request_modal", vrequest: req, id: "school_request_modal#{req.id}"
