.anonymous_request_modal.modal.hide.fade{ id: id }
  .modal-header
    %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;
    %h3= t("modals.volunteer.request.header")

  .modal-body
    %h1= request.name
    %hr
    %dl.dl-horizontal
      %dt= Request.human_attribute_name("description")
      %dd= request.description

      %dt= Request.human_attribute_name("requesting_school")
      %dd= request.school.name

      %dt= Request.human_attribute_name("duration")
      %dd= "#{request.duration} #{Request.human_attribute_name("duration_units")}"

      %dt= Request.human_attribute_name("start_date")
      %dd= l(request.created_at.in_time_zone("Israel"), :format => :long)

    .register
      %span= t("modals.anonymous.request.note")
      %a{href: new_user_path}= t("modals.anonymous.request.action")