.navbar-text.signed_in_school
  %span= t("layout.header.user_panel.logged_in.hello")
  %span= current_user.first_name
  %span ·
  %a{:href => school_path(current_school)}!= t("layout.header.user_panel.logged_in.school.manage")
  %span ·
  %a{:href => edit_school_path(current_school)}!= t("layout.header.user_panel.logged_in.school.edit")
  %span ·
  %a{:href => "/log_out"}= t("layout.header.user_panel.logged_in.sign_out")
