.row
  .box.span8
    .row
      .span4.welcome
        %h1= t("homepage.title")
        %p= t("homepage.paragraph")
      .span4.steps
        %ol
          - t("homepage.steps").each do |step|
            %li
              %span.step= step


  .box.span4
    .header.light= t("homepage.profile")

-if @open_requests.count > 0
  .row
    .span12
      .box
        .header
          = t("home.requests.title")
        .content
          != render partial: "layouts/components/request/request_row", :collection => @open_requests, :as => :req, :locals => {:type => 'main'}