.school_request_modal.modal.hide.fade{ id: id }
  .modal-header
    %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;
    %h3= t("modals.request.header")

  .modal-body
    %h1= vrequest.name
    %hr
    %dl.dl-horizontal
      %dt= t("modals.request.fields.description")
      %dd= vrequest.description

      %dt= t("modals.request.fields.requesting_school")
      %dd= vrequest.school.name

      %dt= t("modals.request.fields.required_time")
      %dd= "#{vrequest.duration} #{t("requests.row.duration_units")}"

      %dt= t("modals.request.fields.date")
      %dd= l(vrequest.created_at.in_time_zone("Israel"), :format => :long)

    .actions
      %button.btn.edit_request= t("modals.request.actions.edit_request")
      %button.btn.delete_request= t("modals.request.actions.delete_request")
      %button.btn.complete_request= t("modals.request.actions.complete_request")
  .modal-footer
    .volunteers
      %span.responded= t("modals.request.responded_volunteers", count: vrequest.responses.length)
      - vrequest.responses.each do |response|
        .volunteer
          != image_tag("avatar.png")
          .details
            %span.name= "#{response.user.first_name} #{response.user.last_name}"
            %span.grade= t("modals.request.volunteers_details.grade", count: 0)
            %span.note= t("modals.request.volunteers_details.note")
          .actions
            %button.btn.btn-primary.btn-orange{:type => "button"}= I18n.t("modals.request.actions.watch_details")

