.school_request_modal.modal.hide.fade{ id: id }
  .modal-header
    %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;
    %h3= t("modals.request.header")

  .modal-body
    %h1= vrequest.name
    %hr
    %dl.dl-horizontal
      %dt= t("modals.request.fields.description")
      %dd= vrequest.description

      %dt= t("modals.request.fields.requesting_school")
      %dd= vrequest.school.name

      %dt= t("modals.request.fields.required_time")
      %dd= "#{vrequest.duration} #{t("requests.row.duration_units")}"

      %dt= t("modals.request.fields.date")
      %dd= l(vrequest.created_at.in_time_zone("Israel"), :format => :long)

    .actions
      %button.btn.edit_request= t("modals.request.actions.edit_request")
      %button.btn.delete_request= t("modals.request.actions.delete_request")
      %button.btn.complete_request= t("modals.request.actions.complete_request")
  .modal-footer
    != render(partial: "responses/responded_volunteers", locals: {vrequest: vrequest})

